body{
  text-align: center;
}

.above,.below{
  padding: 1%;
  margin: 2% 20% 2% 20%;
  border: 1px solid black;
}

select{
  background-color: blue;
  color: white;
  padding: 0.5% 2% 0.5% 2%;
  font-size: 1.5em;
  outline: none;
  cursor: pointer;
}

input{
  padding: 0.5%;
  font-size: 1.5em;
  width: 30vw;
}

button{
  padding:0.5%;
  font-size: 1.5em;
  background-color: blue;
  color: white;
  border: transparent;
  cursor: pointer;
}

select:hover,button:hover{
  background-color: tomato;
}